/* Add your custom css here */

/* Example Article CSS */

.prose-white h1 {
  color: white;
}
.prose-white h2 {
  color: white;
}
.prose-white h3 {
  color: white;
}
.prose-white h4 {
  color: white;
}
.prose-white h5 {
  color: white;
}
.prose-white h6 {
  color: white;
}
.prose-white p {
  color: white;
}
.prose-white li {
  color: white;
}
